:root{
    --white: white;
    --gray: #efefef;
    --black: black;
    --l1: #9BFEFE;
    --l2: #FCFC76;
    --d1: #2887DD;
    --d2: #F8A54A;
};

.border {
    border: 1px solid var(--gray);
}

.bold {
    font-weight: bold;
}

.space-right{
    margin-right: .5rem;
}

.space-left{
    margin-left: .5rem;
}

.metadata {
    color: var(--gray);
}

.hover {
    cursor: pointer;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--gray);
    color: var(--d1);
    width: 300px;
    padding: 1em;
    ul {
        list-style: none;
    }
}
.nav-link {
    text-decoration: none;
    color: inherit;
}
.nav-link:hover {
    color: var(--d2); /* Define your custom color on hover */
}

#page-content {
    margin-left: calc(300px + 2em);
    padding: 1em;
}

.align-center {
    display: flex;
    align-items: center;
}

.logo, .user-display {
    color: var(--d1);
    img {
        max-height: 5em;
    }
}

.user-display {
    border: 1px solid var(--black);
    border-radius: 5em;
    padding: 1em;
    justify-content: space-between;
}